@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* STYLES FOR PDF EXPORT (PRINTING) */
@media print {
  body * {
    visibility: hidden;
  }
  
  .printable-area, .printable-area * {
    visibility: visible;
  }

  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    font-size: 12px;
  }

  .no-print {
    display: none !important;
  }
}